.formTitle {
	font-size: 0.875rem;
	margin-bottom: 4px;
}

.formText {
	display: flex;
	align-items: center;
	color: var(--text-primary);
	font-size: 0.75rem;
	vertical-align: middle;
}

.buttonContainer {
	margin-top: 10px;
}

.childContainer {
	margin-left: 10px;
}